
/*FILTER DISPLAY*/

.filter .block-subtitle{display: none;}

.filter-options-item {
   
    display: inline-block !important;
    padding: 3px 12px 2px 12px;
    border: none;
    
}


.filter-options-content {
  
    position: absolute;
    z-index: 5;
    background: white;
}